<link rel="import" href="html-component.html">
<link rel="import" href="view-slices.html">
<link rel="import" href="view-input.html">

<template>
  <style>
    :host {
      display: block;
    }

    :host > * {
      --font-color: #333;

      font-family: 'Helvetica Neue', Helvetica, sans-serif;
    }
  </style>

  <div id="container">
    <h1 id="title">DICOM viewer</h1>
    <view-input id="input"></view-input>
    <view-slices id="slices"></view-slices>
  </div>


</template>

<script>
var loaded = false;

function loadAndViewImage(imageId) {
    var element = $('#testimg').get(0);
    cornerstone.loadImage(imageId).then(function (image) {
        console.log(image);
        var viewport = cornerstone.getDefaultViewportForImage(element, image);
        cornerstone.displayImage(element, image, viewport);
        if (loaded === false) {
            cornerstoneTools.mouseInput.enable(element);
            cornerstoneTools.mouseWheelInput.enable(element);
            cornerstoneTools.wwwc.activate(element, 1); // ww/wc is the default tool for left mouse button
            cornerstoneTools.pan.activate(element, 2); // pan is the default tool for middle mouse button
            cornerstoneTools.zoom.activate(element, 4); // zoom is the default tool for right mouse button
            cornerstoneTools.zoomWheel.activate(element); // zoom is the default tool for middle mouse wheel
            loaded = true;
        }

    }, function (err) {
        alert(err);
    });
}

(function () {

  const doc = document.currentScript.ownerDocument

  class View extends HTMLComponent {

    static get is () { return 'app-container' }

    static get doc () { return doc }

    constructor () {
      super()
      this.data = {
        dicom: { name: 'test' }
      }
    }

    connectedCallback () {
      super.connectedCallback()
      this.on_action = this.on_action.bind(this)
      this.shadowRoot.addEventListener('action', this.on_action)
    }

    disconnectedCallback () {
      super.disconnectedCallback()
      this.shadowRoot.removeEventListener('action', this.on_action)
    }

    on_action (event) {
      let action = event.detail
      let method = this[`action_${action.name}`]
      if (typeof method === 'function') {
        method.call(this, action.data)
      }
    }

    action_slice (detail) {
      let dicom = this.data.dicom
      let name = dicom.name
      let coord = detail.coord
      let slice = detail.slice

      fetch(`/api/0/dicom/${name}/${coord}/${slice}`)
        .then((res) => {
          if (!res.ok) {
            console.warn(res)
            return
          }
          return res.blob();
          //var viewport = cornerstone.getDefaultViewportForImage(canvas, res.body);
          //cornerstone.displayImage(element, image, viewport);
          //var imageId = cornerstoneWADOImageLoader.wadouri.fileManager.add(res.body);
          //console.log(imageId)
          //loadAndViewImage(imageId);
          //return res.text()
        })
        .then(function(myBlob) {
          var objectURL = URL.createObjectURL(myBlob);
          var myImage = document.querySelector('#testimg');
          myImage.src = objectURL;

        })
        .catch((err) => {
            console.warn(err)
        });
    }

  }

  window.customElements.define(View.is, View)

})()
</script>